/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/* Fonts */

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/ptsansbold.woff") format("woff"); /* Modern Browsers */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/ptsans.woff") format("woff"); /* Modern Browsers */
}

/* Variables */
:root {
  --basic-light: #ffffff;
  --basic-blue: #81b3d2;
  --dark-blue: #669ec0;
  --extra-dark-blue: #5496bd;
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-brown: #766357;
  --basic-light-brown: #eeeeee;
  --basic-gray: #bababa;

  --brown-hover-color: #604e43;
  --brown-active-color: #503e33;

  --input-color: #f2f2f2;
  --input-hover-color: #ebebeb;
  --input-border-color: #e5e5e5;
  --rating-color: #666666;
  --academy-gray-active: #bdbbbc;
  --plus-minus-color: #a9a9a9;

  --text-opacity-color: rgba(255, 255, 255, 0.3);
  --footer-opacity-color: rgba(255, 255, 255, 0.9);

  --shadow-color: rgba(0, 1, 1, 0.2);
  --form-shedow-color: rgba(0, 1, 1, 0.15);
}

/* Global */
body {
  min-width: 1200px;
  padding: 0;
  margin: 0 40px;
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light);
  box-shadow: 0px 5px 15px var(--shadow-color);
}
.page a {
  text-decoration: none;
}
.page a:focus {
  outline-color: var(--extra-dark-blue);
}
.page {
  width: 1280px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
.center {
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.invisible {
  display: none;
}
.main-header {
  margin: 0;
  padding: 0;
}
.main-header-logo {
  display: block;
  height: 70px;
  width: 138px;
  margin-bottom: -70px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}
.site-nav {
  min-height: 56px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: transparent;
}
.site-nav-link {
  padding: 10px 0;
}
.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav-list {
  color: var(--basic-black);
  padding: 0;
  padding-top: 15px;
}
.link-style {
  color: var(--basic-black);
}
.link-style:hover {
  color: var(--basic-blue);
}
.link-style:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.active-link {
  color: var(--basic-brown);
}
.back-image-wrap {
  background-color: var(--basic-light-brown);
  background: url("../img/background/welcome.svg") no-repeat 50% 49%,
    url("../img/background/shap.svg") no-repeat center bottom,
    url("../img/background/background-photo-optim.jpg") no-repeat;
  height: 509px;
  width: 1200px;
  margin: 0 auto;
}
.advantages {
  width: 1200px;
  margin: 0 auto;
}
.advantages-slogan {
  width: 470px;
  margin: 42px auto 17px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 27px;
}
.advantages-title {
  width: 520px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 51px;
}
.advantages-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.sedona-life-image {
  background-color: var(--basic-light-brown);
  margin: auto;
}
.item-tytle {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-top: 47px;
  overflow: hidden;
  max-height: 3em;
}
.item-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding-left: 45px;
  padding-right: 45px;
}
.sedona-life-text {
  color: var(--basic-extra-dark);
}
.advantages-item:first-of-type {
  background-color: var(--basic-blue);
  color: var(--basic-light);
}
.sedona-life-list {
  list-style: none;
  background-color: var(--basic-light);
  color: var(--basic-black);
}
.advantages-item:nth-of-type(2) {
  background-color: var(--basic-blue);
  color: var(--basic-light);
}
.sedona-life-list {
  padding: 0;
  margin: 0;
}
.house-icon {
  background: url("../img/icon/icon-1.svg") no-repeat 50% 100%;
  margin-bottom: 28px;
}
.burger-icon {
  background: url("../img/icon/icon-2.svg") no-repeat 50% 100%;
  margin-bottom: 28px;
}
.souvenir-icon {
  background: url("../img/icon/icon-3.svg") no-repeat 50% 100%;
  margin-bottom: 28px;
}
.advantages-item:nth-of-type(3),
.advantages-item:nth-of-type(4),
.advantages-item:nth-of-type(5) {
  background-color: var(--basic-light-brown);
  z-index: 2;
}
.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
}
.advantages-item-1 {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 115px 21px auto auto;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}
.sedona-life-image {
  grid-column: 2 / -1;
  grid-row: 1 / 4;
}
.sedona-life-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column: 1 / -1;
}
.advantages-item-text {
  padding-top: 23px;
  min-height: 97px;
}
.sedona-life-item {
  display: grid;
  grid-template-rows: 160px 21px auto;
}
.sedona-life-title {
  padding: 0;
}
.sedona-life-text {
  padding-top: 25px;
  min-height: 124px;
}
.advantages-item-2 {
  display: grid;
  grid-template-columns: 800px 400px;
  grid-template-rows: 115px 21px auto;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}
.rock-bridge {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin: auto;
}
.advantages-item-3,
.advantages-item-4,
.advantages-item-5 {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 115px 21px auto;
}
.invitation {
  background-color: var(--basic-light);
  position: relative;
  z-index: 2;
}
.invitation-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  padding-top: 57px;
  margin: 0;
}
.invitation-text {
  width: 568px;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  padding-bottom: 45px;
  padding-top: 31px;
}
.search-form-button {
  position: relative;
  width: 568px;
  height: 86px;
  color: var(--basic-light);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: var(--basic-brown);
  z-index: 2;
  cursor: pointer;
}
.brown-button-style:hover {
  background-color: var(--brown-hover-color);
}
.brown-button-style:active {
  background-color: var(--brown-active-color);
  color: var(--text-opacity-color);
}
.search-form-button:focus {
  outline-color: var(--extra-dark-blue);
}
.search-form-container {
  position: relative;
  margin: 0 auto;
  width: 568px;
}
.search-form-up {
  position: relative;
  top: 0px;
  margin: 0 auto;
  width: 568px;
  transform: translateY(-395px);
  transition: 0.5s;
}
.search-form-down {
  position: relative;
  top: -395px;
  margin: 0 auto;
  width: 568px;
  transform: translateY(395px);
  transition: 0.6s;
}
.search-form-error {
  -webkit-animation: shake 0.4s;
          animation: shake 0.4s;
}
.search-form-alterror {
  -webkit-animation: altshake 0.3s;
          animation: altshake 0.3s;
}
@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(8px);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(8px);
  }
}
@-webkit-keyframes altshake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
@keyframes altshake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
.search-form {
  position: absolute;
  width: 458px;
  height: 285px;
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  box-shadow: 0px 7px 15px var(--form-shedow-color);
  background-color: var(--basic-light);
}
.search-form-grid {
  display: grid;
  width: 458px;
  height: 285px;
  grid-template-columns: 112px 114px 118px 114px;
  grid-template-rows: 38px 30px 38px 30px 38px 53px 58px;
  padding: 55px;
}
.arrival-date-label {
  text-align: left;
  margin: auto 0;
}
.arrival-date {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}
.departure-date-label {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: left;
  margin: auto 0;
}
.departure-date {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
}
.adults-label {
  text-align: left;
  margin: auto 0;
}
.adults-label,
.kids-label,
.number-people {
  grid-row: 5 /6;
  margin: auto 0;
}
.travel-date {
  width: 330px;
  height: 34px;
  padding: 0;
  padding-left: 12px;
  background-color: var(--input-color);
  border: 2px solid var(--input-color);
  font-weight: 700;
}
.calendar {
  position: absolute;
  right: 63px;
  cursor: pointer;
}
.calendar:hover path {
  fill: var(--basic-black);
}
.calendar:active path {
  fill: var(--basic-blue);
}
.number-people:hover,
.travel-date:hover {
  background-color: var(--input-hover-color);
  border: 2px solid var(--input-hover-color);
}
.number-people:focus,
.travel-date:focus {
  outline: none;
  background-color: var(--basic-light);
  border: 2px solid var(--input-border-color);
}
.button-outline:focus path {
  fill: var(--basic-black);
}
.button-outline:active path {
  fill: var(--basic-blue);
}
.number-people::-webkit-outer-spin-button,
.number-people::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.number-people {
  width: 110px;
  height: 34px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
  background-color: var(--input-color);
  border: 2px solid var(--input-color);
  -moz-appearance: textfield;
  appearance: textfield;
}
.adults-label {
  position: relative;
}
.adults-minus-button {
  position: absolute;
  right: 370px;
  top: 202px;
  height: 12px;
  background-position: center center;
  border: none;
  cursor: pointer;
}
.adults-plus-button {
  position: absolute;
  right: 295px;
  top: 201px;
  height: 12px;
  background-color: var(--input-color);
  border: none;
  cursor: pointer;
}
.adults:hover ~ .adults-minus-button,
.adults:hover ~ .adults-plus-button {
  background-color: var(--input-hover-color);
}
.adults:focus ~ .adults-minus-button,
.adults:focus ~ .adults-plus-button {
  background-color: var(--basic-light);
}
.kids-label {
  position: relative;
  padding-left: 25px;
}
.kids-minus-button {
  position: absolute;
  right: 137px;
  top: 202px;
  height: 12px;
  background-color: var(--input-color);
  background-position: center center;
  border: none;
  cursor: pointer;
}
.kids-plus-button {
  position: absolute;
  right: 62px;
  top: 201px;
  height: 12px;
  background-color: var(--input-color);
  border: none;
  cursor: pointer;
}
.kids:hover ~ .kids-minus-button,
.kids:hover ~ .kids-plus-button {
  background-color: var(--input-hover-color);
}
.kids:focus ~ .kids-minus-button,
.kids:focus ~ .kids-plus-button {
  background-color: var(--basic-light);
}
.button-outline:focus,
.button-outline:active {
  outline: none;
}
.button-outline:focus line {
  stroke: var(--basic-black);
}
.button-outline line {
  stroke: var(--plus-minus-color);
}
.button-outline:hover line {
  stroke: var(--basic-black);
}
.button-outline:active line {
  stroke: var(--basic-blue);
}
.search-button {
  grid-column: 1/-1;
  grid-row: -1/-2;
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--basic-blue);
  border: none;
  cursor: pointer;
}
.blue-button-style:hover {
  background-color: var(--dark-blue);
}
.blue-button-style:active {
  background-color: var(--extra-dark-blue);
  color: var(--text-opacity-color);
}
.search-button:focus {
  outline-color: var(--extra-dark-blue);
}
.social-link:active path {
  opacity: 0.3;
}
.map {
  height: 594px;
  background-color: var(--basic-light-brown);
  background-image: url("../img/content/map.png");
  margin-bottom: -120px;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  background-color: var(--footer-opacity-color);
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  min-width: 225px;
  margin-left: 125px;
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin-right: 18px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-bottom: 0px;
  background-color: var(--basic-blue);
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 195px;
  margin-right: 138px;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}
.footer-copyright:hover path {
  fill: var(--basic-blue);
}
.footer-copyright:active path {
  fill: var(--academy-gray-active);
}
.site-nav-list {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  text-align: left;
}
.site-nav-item:nth-child(4n + 1) {
  padding-left: 72px;
}
.site-nav-item:nth-child(4n) {
  text-align: right;
  padding-right: 72px;
}
.site-nav-item:nth-child(4n-1) {
  text-align: right;
}

/* Hotel pages */
/* Filter box */
.filter-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.filter-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.search-filter {
  height: 217px;
  background-color: var(--dark-blue);
  background-image: url("../img/background/background-blur.jpg");
  color: var(--basic-light);
}
.search-filter-grid {
  display: grid;
  grid-template-columns: 253px 1fr 316px;
  padding: 25px 73px 32px;
}
.filter-label {
  margin-top: 25px;
  margin-left: 40px;
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.filter-input-checkbox + label::after {
  content: "";
  position: absolute;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/icon/filter-normal.svg");
  background-repeat: no-repeat;
}
.filter-input-checkbox:checked + label::after {
  background-image: url("../img/icon/checkbox-on.svg");
}
.filter-input-checkbox:disabled + label::after {
  background-image: url("../img/icon/filter-disabled.svg");
}
.filter-input-checkbox:checked:disabled + label::after {
  background-image: url("../img/icon/checkbox-on-disablet.svg");
}
.filter-input-checkbox:focus + label {
  outline: 1px solid var(--basic-light);
}
.checkbox-filters {
  width: 140px;
  border: none;
}
.price-filter {
  width: 316px;
  border: none;
}
.price-controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 312px;
  height: 32px;
  border: 2px solid white;
  border-radius: 2px;
  margin-top: 12px;
}
.price-inputs {
  width: 50%;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  text-align: center;
  color: inherit;
}
.price-inputs:active {
  outline: none;
}
.price-inputs:focus {
  outline-color: var(--extra-dark-blue);
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 155px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-light);
}
.range-controls {
  position: relative;
}
.scale {
  height: 2px;
  background: var(--text-opacity-color);
  margin-top: 20px;
}
.bar {
  width: 83%;
  height: 2px;
  background: var(--basic-light);
}
.toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 3px;
  height: 3px;
  padding: 0;
  border-radius: 50%;
  border: 8px solid var(--basic-light);
  background-color: var(--basic-gray);
  box-shadow: 0 2px 0 0 var(--text-opacity-color);
  cursor: pointer;
}
.toggle:hover {
  transform: scale(1.2);
}
.toggle:focus {
  outline-color: var(--extra-dark-blue);
}
.toggle-min {
  left: 3%;
  margin-left: -9px;
}
.toggle-max {
  left: 83%;
  margin-left: -9px;
}
.filter-buttom {
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-light);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: inherit;
  color: var(--basic-light);
  background: none;
  margin-left: 84px;
  margin-top: 33px;
  cursor: pointer;
}
.filter-buttom:hover {
  background-color: var(--basic-light);
  color: var(--basic-black);
}
.filter-buttom:focus {
  outline-color: var(--extra-dark-blue);
}

/* Sorting box */
.sorting-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.sorting-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}
.sorting-link-style {
  color: var(--basic-black);
  opacity: 0.5;
  border-bottom: 1px dotted var(--basic-blue);
}
.sorting-link-style:hover {
  color: var(--basic-blue);
  opacity: 1;
}
.sorting-link-style:active {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: none;
}
.sorting-link-active {
  color: var(--basic-blue);
  opacity: 1;
  border-bottom: none;
}
.sorting-box,
.sorting-type {
  display: flex;
  align-items: center;
}
.sorting-text-indent {
  padding-right: 40px;
}
.sorting-item {
  padding-right: 32px;
}
.rotation-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 6px;
}
.rotation-button:hover polygon {
  fill: var(--basic-black);
}
.rotation-button:active polygon {
  fill: var(--basic-blue);
}
.rotation-button:focus {
  outline-color: var(--extra-dark-blue);
}
.rotation-button-active polygon {
  fill: var(--basic-blue);
}

/* Search results box */
.hotels-list,
.sorting {
  display: grid;
  grid-template-columns: 135px 1fr auto;
  padding: 30px 73px;
  grid-gap: 29px;
  border-bottom: 1px solid var(--input-border-color);
}
.hotels-list {
  height: 90px;
}
.hotels-link {
  display: block;
  height: 90px;
  margin: 0;
  padding: 0;
}
.hotel-title-link {
  display: block;
  margin-top: -5px;
  margin-bottom: 5px;
  width: auto;
  overflow: hidden;
  height: 27px;
}
.hotel-list-title {
  display: inline;
  width: 240px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.hotels-link-text {
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  color: var(--basic-light);
}
.hotels-list-info,
.hotels-list-link {
  display: grid;
  grid-template-columns: 116px auto;
}
.hotels-detail-link {
  width: 110px;
  height: 27px;
  margin-top: 15px;
  background-color: var(--basic-blue);
  text-align: center;
}
.hotels-reserve-link {
  width: 142px;
  height: 27px;
  margin-top: 15px;
  background-color: var(--basic-brown);
  text-align: center;
}
.rating-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
.hotels-rating {
  width: 110px;
  height: 27px;
  line-height: 26px;
  text-align: center;
  vertical-align: bottom;
  color: var(--rating-color);
  background-color: var(--input-color);
  margin-top: auto;
}
.ratig-star {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}
.star {
  width: 18px;
  height: 18px;
  margin-left: 6px;
  background-image: url("../img/icon/star.svg");
  background-repeat: no-repeat;
}
.star:last-child {
  margin-left: 0;
}
.star-off {
  display: none;
}
.body-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.center-text {
  position: relative;
  top: 45%;
  text-align: center;
  line-height: 50px;
}
.main-color {
  z-index: -1;
  background-color: var(--basic-light-brown);
}
