/* Fonts */

/* pt-sans-700 - latin_cyrillic */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"), /* Super Modern Browsers */ 
    url("../fonts/ptsansbold.woff") format("woff"); /* Modern Browsers */
}

/* pt-sans-regular - latin_cyrillic */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"), /* Super Modern Browsers */ 
    url("../fonts/ptsans.woff") format("woff");/* Modern Browsers */
}

/* Variables */

:root {
  --basic-light: #ffffff;
  --basic-blue: #81b3d2;
  --dark-blue: #669ec0;
  --extra-dark-blue: #5496bd;
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-brown: #766357;
  --basic-light-brown: #eeeeee;
  
  --brown-hover-color: #604e43;
  --brown-active-color: #503e33;

  --input-color: #f2f2f2;
  --input-hover-color: #ebebeb;
  --input-border-color: #e5e5e5;
  --rating-color: #666666;

  --text-opacity-color: rgba(255, 255, 255, 0.3);
  --footer-opacity-color: rgba(255, 255, 255, 0.9);
  --shadow-color: rgba(0, 1, 1, 0.2);
  --form-shedow-color: rgba(0, 1, 1, 0.15);
}

/* Global */

body {
  min-width: 1200px;
  padding: 0;
  margin: 0 40px;
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light);
  box-shadow: 0px 5px 15px var(--shadow-color);
}

.page a {
  text-decoration: none;
}

.page {
  width: 1280px;
  margin: 0 auto;
}



img {
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.invisible {
  display: none;
}

.main-header {
  margin: 0;
  padding: 0;
}

.main-header-logo {
  display: block;
  height: 70px;
  margin-bottom: -70px;
}

.site-nav {
  min-height: 56px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: transparent;
}

.list-style-none {
  list-style: none;
  padding: 0;
}

.site-nav-list {
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  padding-top: 15px;
}

.site-nav-link,
.contacts-instagram-link,
.contacts-phone {
  color: var(--basic-black);
}

.site-nav-link:hover,
.contacts-instagram-link:hover,
.contacts-phone:hover {
  color: var(--basic-blue);
}
.site-nav-link:active,
.contacts-instagram-link:active,
.contacts-phone:active  {
  color: var(--basic-black);
  opacity: 0.3;
}

.back-image-wrap {
  background-color: var(--basic-light-brown);
  background:
    url("../img/background/welcome.svg") no-repeat center center,
    url("../img/background/Shape.svg") no-repeat center bottom, 
    url("../img/background-photo.png") no-repeat;
  height: 509px;
  width: 1200px;
  margin: 0 auto;
}

.advantages {
  width: 1200px;
  margin: 0 auto;
}

.advantages-slogan {
  width: 470px;
  margin: 42px auto 17px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 26px;  
}

.advantages-title {
  width: 520px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 51px;
}

.advantages-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.item-tytle {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-top: 47px;
}

.item-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding-left: 45px;
  padding-right: 45px;
}

.sedona-life-text {
  color: var(--basic-extra-dark);
}

.advantages-item:first-of-type {
  background-color: var(--basic-blue);
  color: var(--basic-light);
}

.sedona-life-list {
  list-style: none;
  background-color: var(--basic-light);
  color: var(--basic-black);
}

.advantages-item:nth-of-type(2) {
  background-color: var(--basic-blue);
  color: var(--basic-light);
}

.sedona-life-list {
  padding: 0;
  margin: 0;
}

.house-icon {
  background: url("../img/icon/icon-1.svg") no-repeat 50% 100%;
  margin-bottom: 28px;
}

.burger-icon {
  background: url("../img/icon/icon-2.svg") no-repeat 50% 100%;
  margin-bottom: 28px;
}

.souvenir-icon {
  background: url("../img/icon/icon-3.svg") no-repeat 50% 100%;
  margin-bottom: 28px;
}

.advantages-item:nth-of-type(3),
.advantages-item:nth-of-type(4),
.advantages-item:nth-of-type(5) {
  background-color: var(--basic-light-brown);
}

.invitation-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  padding-top: 58px;
  margin: 0;
}


.invitation-text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 45px;
  margin-top: 38px;
}

.saerch-form-button {
  width: 568px;
  height: 86px;
  color: var(--basic-light);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: var(--basic-brown);
}

.saerch-form-button:hover {
  background-color: var(--brown-hover-color);
}

.saerch-form-button:active {
  background-color: var(--brown-active-color);
  color: var(--text-opacity-color);
}

.saerch-form-button:focus {
  outline: none;
}

.search-form-container {
  position: relative;
  margin: 0 auto;
  width: 568px;
}

.search-form {
  position: absolute;

  width: 568px;
  height: 395px;
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  box-shadow: 0px 7px 15px var(--form-shedow-color);
  background-color: var(--basic-light);
}

.travel-date {
  width: 342px;
  height: 34px;
  padding: 0;
  background-color: var(--input-color);
  border: 2px solid var(--input-color);
  font-weight: 700;
}

.travel-date:hover {
  background-color: var(--input-hover-color);
}

.travel-date:focus {
  outline: none;
  background-color: var(--basic-light);
  border: 2px solid var(--input-border-color);
}

.number-people {
  width: 110px;
  height: 34px;
  padding: 0;
  text-align: center;
  font-weight: 700;
  background-color: var(--input-color);
  border: 2px solid var(--input-color);
}

.number-people:hover {
  background-color: var(--input-hover-color);
}

.number-people:focus {
  outline: none;
  background-color: var(--basic-light);
  border: 2px solid var(--input-border-color);
}

.search-button {
  width: 458px;
  height: 58px;
  margin-top: 54px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--basic-blue);
  border: none;
}

.search-button:hover,
.social-link:hover {
  background-color: var(--dark-blue);
}

.search-button:active,
.social-link:active {
  background-color: var(--extra-dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.search-button:focus {
  outline: none;
}

.map {
  height: 594px;
  
  background-image: url("../img/map.png");
  
  margin-bottom: -120px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: var(--footer-opacity-color);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  min-width: 225px;
  margin-left: 125px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  margin-right: 24px;
  text-align: center;
}

.social-item {
  display: inline;
}

.social-link {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.search-button:hover,
.social-link:hover {
  background-color: var(--dark-blue);
}

.search-button:active,
.social-link:active {
  background-color: var(--extra-dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  background-image: url("../img/fb-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  background-image: url("../img/youtube.png");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-copyright {
  display: flex;
  align-items: center;
  margin-right: 138px;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
}

.advantages-item-1 {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 115px 21px 120px 330px;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}
.sedona-life-image {
  grid-column: 2 / -1;
  grid-row: 1 / 4;
}
.sedona-life-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column: 1 / -1;
}
.advantages-item-text {
  padding-top: 23px;
}

.advantages-item-2 {
  display: grid;
  grid-template-columns: 800px 400px;
  grid-template-rows: 115px 21px 120px;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}
.rock-bridge {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.advantages-item-3,
.advantages-item-4,
.advantages-item-5 {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 115px 21px 120px;
}

.site-nav-list {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  text-align: left;
}

.site-nav-item:nth-child(4n+1) {
  padding-left: 72px;
}

.site-nav-item:nth-child(4n) {
  text-align: right;
  padding-right: 72px;
}

.site-nav-item:nth-child(4n-1) {
  text-align: right;
}

/*
.site-nav-item:nth-of-type(1) {
  grid-column: 2 / 3;
}
.site-nav-item:nth-of-type(2) {
  grid-column: 4 / 5;
}
.site-nav-item:nth-of-type(3) {
  grid-column: 6 / 7;
}
.site-nav-item:nth-of-type(4) {
  grid-column: -2 / -3;
}
*/
.sedona-life-item {
  display: grid;
  grid-template-rows: 160px 21px 149px;
}
.sedona-life-title {
  padding: 0;
}
.sedona-life-text {
  padding-top: 25px;
}



/* Выпадающее меню */
